## Xcode
# Build artifacts
build/
DerivedData/

# Personal settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
libexec/
*.xcuserdatad/
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## OS artifacts
.DS_Store

## Mascot generation intermediates
Tools/Mascot/source/
Tools/Mascot/work/
Tools/Mascot/output/*
Tools/Mascot/__pycache__/
